  <html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h2>New here?</h2>
    <div>Sign up</div>
    <div>Sign in</div>
    <h2>Show me what everyone's talking about.</h2>
  </body>
</html>