  <html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <div><a href="/login">Sign in</a></div>
    <h2>New here?</h2>
    <div><a href="/create_account">Create an account</a></div>
    <h2><a href="/peeps">Show me what everyone is talking about.</a></h2>
  </body>
</html>