  <html>
  <head></head>
  <body>
    <h1>Welcome to Chitter!</h1>
    <h2>New here?</h2>
    <div>Sign up</div>
    <div>Sign in</div>
    <h2><a href="/peeps">Show me what everyone is talking about.</a></h2>
  </body>
</html>