<h1>Add a peep</h1>

<form method="POST" action="/peeps">

  <div>
    <label>Message: </label>
    <input type="text" name="content" />
  </div>

  <div>
    <label>Tag (use @ to tag): </label>
    <input type="text" name="tag" />
  </div>
  
  <input type="submit" value="Submit the peep"/>
</form>

<h4><a href="/peeps">Nevermind, go back.</a></h4>