<h4><a href="/peeps/new">Post a peep!</a></h4>

<% @peeps.each do |peep| %>
  <div><%= peep.user_id %></div>
  <%= peep.content %>
  <div><%= peep.tag %></div>
  <h5><div><%= peep.timestamp %></div></h5>

<% end %>